@using Models.Schema
@model List<WorkRole>
@{
    ViewBag.Title = "Manage Functional Area";

    //Layout = null;
    int newID = 0;

}


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/js/bootstrap-dialog.min.js"></script>
<script type="text/javascript">

	function saveData(rowIdentifier) {
		if (validateForm(rowIdentifier)) {
			var txtName = $("#tblData").find("input[id=txtName_" + rowIdentifier.toString() + "]").val();
			var txtHdnRowId = rowIdentifier;
			console.log("txtName : " + txtName);


			var item = {};
			var jsonObj = [];

			item["Id"] = txtHdnRowId;
			item["Name"] = txtName;
			jsonObj.push(item);


			console.log("jsonObj : " + jsonObj);
			var jsonString = JSON.stringify(jsonObj);
			console.log("jsonString : " + jsonString);
			/*		data: { recordId: txtHdnRowId, name: txtName },*/
			$.ajax({
				url: "@Url.Content( "~/data/SaveFunctionalArea2" )",
				async: true,
				headers: { "Accept": "application/json", "Content-type": "application/json; charset=utf-8" },
				dataType: "json",
				type: "POST",
				data: jsonString,
				success: function (data) {
					if (data.status == "Success") {
						BootstrapDialog.show({
							title: 'Success!',
							message: "Data Updated Successfully!",
							buttons: [{
								label: 'OK',
								action: function (dialog) {
									window.location.href = "~/data/ManageFunctionalArea";
									removeData(rowIdentifier);
									$("#btnAdd").attr("disabled", false);
									dialog.close();
								}
							}]
						});
					}

				}
			});
		}
	}


	function deleteData(recordId) {
		$.ajax({
			url: "~/data/DeleteFunctionalArea",
			type: "POST",
			data: { recordId: recordId },
			success: function (data) {
				if (data.status == "Success") {
					BootstrapDialog.show({
						title: 'Success!',
						message: "Data Deleted Successfully!",
						buttons: [{
							label: 'OK',
							action: function (dialog) {
								window.location.href = "~/Data/Index";
								dialog.close();
							}
						}]
					});
				}
			}
		});
	}

	function validateForm(i) {
		var flag = true;
		var msg = "";

		var name = $("#tblData").find("input[id=txtName_" + i.toString() + "]").val();

		if (name == "") {
			msg += "Functional Area Name at row " + i + " is required. " + "\n";
			$("#txtName_" + i.toString()).val('');
			flag = false;
		}

		if (flag == false) {
			BootstrapDialog.show({
				title: 'Error!',
				message: msg
			});
		}

		return flag;
	}
</script>
<script type="text/javascript">
    function AddRowData() {
        var incrID = @newID +1;

        console.log("incrID :" + incrID);
        var html =
            '<tr id ="Tr_' + incrID + '"> '
            + '<td id="txtName_' + incrID + '"><input type="text" id="txtName_' + incrID + '"   value=""  /></td>'
            + '<td >'
            + '<input type="button" class="btn btn-primary" id="btnUpdate_' + incrID + '"   value="Update"  onclick="saveData(' + incrID + ',' + ')"/>'
            + '<input type="button" class="btn btn-primary" id="btnCancel_' + incrID + '"  value="Cancel" onclick="removeRow(this)";/>'
            + '</td>'
            + '</tr>';
        $(html).appendTo($("#tblData"));

        $("#btnAdd").attr("disabled", true);

    }
    function removeRow(obj) {
        console.log("removerow");
        var tr = $(obj).closest('tr');
        tr.remove();
        $("#btnAdd").attr("disabled", false);
    };
</script>
<script type="text/javascript">
	function editRowData(i) {

		$("#tblData").find('#btnEdit_' + i.toString()).hide();
		$("#tblData").find('#btnDelete_' + i.toString()).hide();

		$("#tblData").find('#tdName_' + i.toString()).hide();
		$("#tblData").find('#tdTaskCount_' + i.toString()).hide();

		$("#tblData").find('#btnUpdate_' + i.toString()).show();
		$("#tblData").find('#btnCancel_' + i.toString()).show();

		$("#tblData").find('#txtName_' + i.toString()).show();
		$("#tblData").find('#txtTaskCount_' + i.toString()).show();
	}

	function removeData(i) {

		$("#tblData").find('#btnEdit_' + i.toString()).show();
		$("#tblData").find('#btnDelete_' + i.toString()).show();

		$("#tblData").find('#tdName_' + i.toString()).show();
		$("#tblData").find('#tdTaskCount_' + i.toString()).show();

		$("#tblData").find('#btnUpdate_' + i.toString()).hide();
		$("#tblData").find('#btnCancel_' + i.toString()).hide();

		$("#tblData").find('#txtName_' + i.toString()).hide();
		$("#tblData").find('#txtTaskCount_' + i.toString()).hide();
	}
</script>
<div style="margin: auto; width: 65%;">
    <h2>Manage Functional Area</h2>
    <div class="mtop20">
        <input type="button" class="btn btn-primary" id="btnAdd" value="Add New Functional Area" onclick="AddRowData();" />
    </div>


    <div class="mtop20">

        <table id="tblData" class="table table-bordered table-hover">
            <thead>
				<tr>
					<th id="cname">Functional Area</th>
					<th id="cname">Associated Rating Tasks</th>
					<th>Action</th>
				</tr>
            </thead>
            <tbody>

                @if ( Model.Count() > 0 )
                {
                    for ( int i = 0; i < Model.Count; i++ )
                    {
                        newID = @Model[i].Id;

                        <tr id="Tr_@Model[i].Id.ToString()">
                            <td id="tdName_@Model[i].Id.ToString()">@Model[i].Name</td>
                            <td id="tdTaskCount_@Model[i].Id.ToString()">@Model[i].HasRatingTasks</td>

                            <td id="txtName_@Model[i].Id.ToString()" style="display:none;"><input type='text' id="txtName_@Model[i].Id.ToString()" value="@Model[i].Name" /></td>
							<td id="txtTaskCount_@Model[i].Id.ToString()" style="display:none;"><input type='text' readonly  id="txtTaskCount_@Model[i].Id.ToString()" value="@Model[i].HasRatingTasks" /></td>

                            <td style="width: 150px;">
                                <input type="button" class="btn btn-primary" id="btnEdit_@Model[i].Id.ToString()" value="Edit" onclick="editRowData(@Model[i].Id.ToString())" />

                                <input type="button" class="btn btn-primary" id="btnUpdate_@Model[i].Id.ToString()" value="Update" style="display:none;" onclick="saveData(@Model[i].Id.ToString())" />

                                <input type="button" class="btn btn-primary" id="btnDelete_@Model[i].Id.ToString()" value="Delete" onclick="deleteData(@Model[i].Id.ToString())" />

                                <input type="button" class="btn btn-primary" value="Cancel" onclick="removeData(@Model[i].Id)" style="display:none;" id="btnCancel_@Model[i].Id.ToString()" />
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                    </tr>
                }
            </tbody>
        </table>


    </div>

</div>