@using Models.Schema;
@using Models.DTO;
@using Newtonsoft.Json;
@model BilletTitle
@{
	var title = Model.Id > 0 ? "Editing Billet Title" : "New Billet Title";
	ViewBag.Title = title;
	var ratingsList = Services.RatingServices.GetAll().Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList();
}

@Html.Partial( "~/Views/Shared/_FormHelperV1.cshtml" )

<script type="text/javascript">
	var Data = {
		//The original resource
		Source: @Html.Raw( JsonConvert.SerializeObject( Model ) ),
		//Mapping used internally for the FormItem stuff
		Form: {},
		//Functions to configure FormItem stuff
		Config: {
			//Configure Save Button
			SaveButton: function (Field) {
				Field.SaveURL = "@Url.Content("~/billettitle/save/")";
				Field.RedirectAfterSuccessURL = "@Url.Content("~/billettitle/detail/")";
				Field.getDataToSave = function () {
					return {
						...Data.Source,
						...Data.Form.read()
					};
				}
			},
			//Configure list of ratings
			HasRating: function (Field) {
				Field.Items = @Html.Raw( JsonConvert.SerializeObject( ratingsList, Formatting.None ) );
				Field.renderItems();
			}
		}
	};

	$(document).ready(function () {
		FormItem.setupFormItems(Data.Form, "BilletTitle", Data.Config);
		Data.Form.write(Data.Source);
	});
	//
</script>

<h2>@title</h2>

<form-item data-path="BilletTitle.Id" data-ui="display" data-label="ID"></form-item>
<form-item data-path="BilletTitle.RowId" data-ui="display" data-label="RowID"></form-item>
<form-item data-path="BilletTitle.Name" data-ui="text" data-label="Name"></form-item>
<form-item data-path="BilletTitle.HasRating" data-ui="select" data-label="Associated Rating" data-config="HasRating"></form-item>
<form-item data-path="BilletTitle.Description" data-ui="textarea" data-label="Description"></form-item>
<form-item data-path="BilletTitle.SaveButton" data-ui="savebutton" data-label="Save Changes" data-config="SaveButton"></form-item>