@using Services;
@{
	ViewBag.Title = "Upload V2";
	var allRatings = RatingServices.GetAll().OrderByDescending( m => m.CodedNotation.ToLower() == "all" ).ToList();

}

<script type="text/javascript">
	var Upload = {
		UI: {}
	};
	//

	$(document).ready(function () {
		setupUploadUI();
	});
	//

	function setupUploadUI() {
		Upload.UI.RatingSelector = $(".ratingSelector");
		Upload.UI.FileInput = $(".mainFileUpload");
		Upload.UI.ProcessButton = $(".processButton");
		Upload.UI.StatusBox = $(".status");
		Upload.UI.UploadSummaryBox = $(".uploadSummary");
		Upload.UI.ConfirmationButton = $(".confirmationButton");
		Upload.UI.ConfirmationSummaryBox = $(".confirmationSummary");

		Upload.UI.ProcessButton.on("click", function () {
			processFile();
		});

		Upload.UI.ConfirmationButton.on("click", function () {
			confirmChanges();
		});
	}
	//

	function processFile() {
		var file = Upload.UI.FileInput[0].files[0];
		if (!file) {
			setUploadStatus("Please select a file.");
			alert("Please seelct a file.");
		}
		else {
			setUploadStatus("Reading File...");
			var reader = new FileReader();
			reader.onload = function () {
				setUploadStatus("Processing File...");
				parseCSV(reader.result);

				setUploadStatus("Mapping Data...");
				mapCSVJSON();

				setUploadStatus("Sending Data...");
				submitData();
			};
			reader.onerror = function () {
				setUploadStatus("Error reading file: " + reader.error);
			}
			reader.readAsText(file);
		}
	}
	//

	function parseCSV(rawText) {
		//Normalize the text
		Upload.RawCSV = rawText.replace(/\r\n/g, "\n").replace(/""/g, "<INSERTQUOTE>");
		var rows = [];
		var currentRow = [];
		var currentCell = [];
		var isInQuotes = false;

		//Process each character
		Upload.RawCSV.split("").forEach(function (character) {
			if (character == '"') {
				isInQuotes = !isInQuotes;
			}
			else if (isInQuotes) {
				currentCell.push(character);
			}
			else if (character == ",") {
				currentRow.push(currentCell.join("").replace(/<INSERTQUOTE>/g, '"').trim());
				currentCell = [];
			}
			else if (character == "\n") {
				currentRow.push(currentCell.join("").replace(/<INSERTQUOTE>/g, '"').trim());
				currentCell = [];
				rows.push(currentRow);
				currentRow = [];
			}
			else {
				currentCell.push(character);
			}
		});

		//Don't forget stragglers at the end
		currentRow.push(currentCell.join("").replace(/<INSERTQUOTE>/g, '"').trim());
		rows.push(currentRow);

		//Set data
		rows.shift(); //Discard first row, since it is not a true header row
		Upload.CSVColumns = rows.shift();
		Upload.CSVRows = rows;

		//Create flat JSON
		Upload.CSVJSON = [];
		Upload.CSVRows.forEach(function (row) {
			var temp = {};
			Upload.CSVColumns.forEach(function (column, index) {
				temp[column] = row[index];
			});
			Upload.CSVJSON.push(temp);
		});

		console.log("CSV Processed", Upload);
	}
	//

	function mapCSVJSON() {
		Upload.MappedTable = {
			Rows: Upload.CSVJSON.map(row => {
				return {
					Rating_CodedNotation: row["Rating"],
					Row_CodedNotation: row["Index #"],
					Row_Identifier: row["Identifier"],
					PayGradeType_Notation: row[ "Rank" ],
					BilletTitle_Name: row[ "Billet Title" ],
					WorkRole_Name: row[ "Functional Area" ],
					ReferenceResource_Name: row[ "Source" ],
					ReferenceResource_PublicationDate: row[ "Date of Source" ],
					Shared_ReferenceType: row[ "Work Element Type" ],
					RatingTask_Description: row[ "Work Element (Task)" ],
					RatingTask_ApplicabilityType_Label: row[ "Task Applicability" ],
					RatingTask_TrainingGapType_Label: row[ "Formal Training Gap" ],
					Course_CodedNotation: row[ "CIN" ],
					Course_Name: row[ "Course Name" ],
					Course_CourseType_Label: row[ "Course Type (A/C/G/F/T)" ],
					Course_HasReferenceResource_Name: row["Life-Cycle Control Document"],
					Course_CurriculumControlAuthority_Name: row["Curriculum Control Authority (CCA)"],
					TrainingTask_Description: row[ "CTTL/PPP/TCCD Statement" ],
					Course_AssessmentMethodType_Label: row[ "Current Assessment Approach" ],
					Note: row[ "Notes" ]
				}
			})
		};
	}
	//

	function submitData() {
		hideConfirmationButton();
		var data = {
			rawData: Upload.MappedTable,
			ratingRowID: Upload.UI.RatingSelector.val()
		};

		if (!data.ratingRowID) {
			setUploadStatus("Please select a Rating.");
			alert("Please select a Rating.");
			return;
		}

		setUploadStatus("Sending data, check console for details");
		console.log("Submitting data", data);
		
		postData("@Url.Content("~/upload/processupload")", data).then((response) => {
			setUploadStatus("Received Response, check console for details");
			console.log("Received response", response);
			return response.text()
		}).then((text) => {
			Upload.Summary = JSON.parse(text);
			console.log("Parsed Data", Upload.Summary);
			renderResults();

			if (Upload.Summary.Valid && Upload.Summary.Data.Messages.Error?.length == 0) {
				showConfirmationButton();
			}
			else {
				hideConfirmationButton();
			}
		});
	}
	//

	function renderResults() {
		Upload.UI.UploadSummaryBox.html("");
		renderTextSet("Errors", Upload.Summary.Data.Messages.Error, Upload.UI.UploadSummaryBox, false, "Please correct the errors and try again.");
		renderTextSet("Warnings", Upload.Summary.Data.Messages.Warning, Upload.UI.UploadSummaryBox, false, "Please review the warnings carefully before confirming the update.");
		renderTextSet("Possible Duplicates", Upload.Summary.Data.Messages.Duplicate, Upload.UI.UploadSummaryBox, false, "Found multiple instances of one or more items. This may be caused by inconsistent capitalization on different rows. Please carefully review the data before confirming the update.");
		renderTextSet("Items to be Deleted", Upload.Summary.Data.Messages.Delete, Upload.UI.UploadSummaryBox, true, "Warning: The following items were not detected in the uploaded data, and will be deleted if you confirm the changes!");
		renderTextSet("Items to be Created", Upload.Summary.Data.Messages.Create, Upload.UI.UploadSummaryBox, true, "The following items will be created if you confirm the changes.");
		renderTextSet("Additional References for Existing Items", Upload.Summary.Data.Messages.AddItem, Upload.UI.UploadSummaryBox, true, "New references have been detected for the following existing items.");
		renderTextSet("References to be Removed from Existing Items", Upload.Summary.Data.Messages.RemoveItem, Upload.UI.UploadSummaryBox, true, "These references will be remvoed from the following existing items.");
		renderTextSet("Notes", Upload.Summary.Data.Messages.Note, Upload.UI.UploadSummaryBox, false, "Miscellaneous notes.");
	}
	//

	function renderTextSet(header, items, container, sortItems, explanation, cssClass) {
		if (items?.length > 0) {
			container.append("<h3>" + header + "</h3>");
			explanation && container.append("<p>" + explanation + "</p>");
			var list = $("<ul></ul>").appendTo(container);
			if (sortItems) {
				items.sort((a, b) => { return a > b ? 1 : -1 });
			}
			items.forEach((item) => {
				list.append("<li class=\"" + (cssClass || "") + "\">" + item + "</li>");
			});
		}
	}
	//

	function confirmChanges() {
		if (!Upload.Summary.Data.RowId) {
			alert("Error: No summary data found. Please re-process the spreadsheet and try again.");
			return;
		}

		if (!confirm("Are you sure you want to commit all of the changes to the database?")) {
			return;
		}

		hideConfirmationButton();
		window.scrollTo(0, 0); //Ensure the user can see the status box
		setUploadStatus("Confirming changes, please wait...");

		postData("@Url.Content("~/upload/confirmchanges")", { changeSummaryRowID: Upload.Summary.Data.RowId }).then((response) => {
			setUploadStatus("Received response, check console for details");
			console.log("Received response", response);
			return response.text();
		}).then((text) => {
			Upload.Confirmation = JSON.parse(text);
			console.log("Parsed Confirmation", Upload.Confirmation);
			renderConfirmation();
		});
	}
	//

	function renderConfirmation() {
		Upload.UI.UploadSummaryBox.html("");
		Upload.UI.ConfirmationSummaryBox.html("");

		if (Upload.Confirmation.Valid) {
			Upload.UI.ConfirmationSummaryBox.append("<h3>Finished.</h3>");
			Upload.UI.ConfirmationSummaryBox.append("<p>Your changes have been saved to the database.</p>");
		}
		else {
			renderTextSet("Error", Upload.Confirmation.Status || [], Upload.UI.ConfirmationSummaryBox, false, "One or more errors were encountered while trying to confirm the changes.");
		}
	}
	//

	function setUploadStatus(text) {
		Upload.UI.StatusBox.html(text);
	}
	//

	function showConfirmationButton() {
		Upload.UI.ConfirmationButton.addClass("visible");
	}
	//

	function hideConfirmationButton() {
		Upload.UI.ConfirmationButton.removeClass("visible");
	}
	//

	async function postData(url, data) {
		return fetch(url, {
			method: "POST",
			headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
			body: JSON.stringify(data)
		});
	}
	//
</script>
<style type="text/css">
	.uploadHeader { }
	.uploadHeader .uploadItem { display: block; max-width: none; }
	.uploadHeader .ratingSelector { display: block; width: 100%; height: 30px; margin-bottom: 5px; cursor: pointer; }
	.uploadHeader .uploadBox { display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 5px; }
	.uploadHeader .uploadBox .mainFileUpload { flex: 33% 1 1; padding: 4px 5px; cursor: pointer; background-color: #EEE; }
	.uploadHeader .uploadBox .mainFileUpload:hover, .uploadHeader .uploadBox .mainFileUpload:focus { background-color: #DDD; }
	.uploadHeader .uploadBox .processButton { flex: 200px 0 0; height: 30px; }
	.uploadHeader .status { padding: 4px 5px; }

	.buttons { text-align: right; }
	.buttons .confirmationButton { padding: 5px 10px; }
	.buttons .confirmationButton:not(.visible) { display: none; }
</style>

<h2>Upload RMTL Data</h2>

<div class="uploadHeader">
	<select class="uploadItem ratingSelector">
		<option value="" disabled="disabled" selected="selected">Select a Rating...</option>
		@foreach( var rating in allRatings )
		{
			<option value="@rating.RowId.ToString()">@rating.CodedNotation - @rating.Name</option>
		}
	</select>
	<div class="uploadBox">
		<input class="uploadItem mainFileUpload" type="file" />
		<button class="uploadItem processButton" data-action="process">Process</button>
	</div>
	<div class="uploadItem status"></div>
</div>
<div class="uploadSummary"></div>
<div class="confirmationSummary"></div>
<div class="buttons">
	<button class="confirmationButton">Confirm All Changes and Update the Source Data in the Database</button>
</div>