@using Models.Schema;
@using Models.Search;
@using Models.DTO;
@model Course
@{
	ViewBag.Title = "Course: " + Model.Name;
}

@Html.Partial( "~/Views/Shared/_DetailBasicInfo.cshtml", new DetailBasicInfoHelper( Model )
{
	Name = Model.Name,
	PropertyList = new List<NamedString>()
	{
		new NamedString( "Description", Model.Description ),
		new NamedString( "Course Identification Number", Model.CodedNotation ),
		new NamedString( "Curriculum Control Authority", LinkHelper.GetDetailPageLink( Factories.OrganizationManager.GetByRowId( Model.CurriculumControlAuthority ), Url.Content, m => m.Name ) ),
		new NamedString( "Life Cycle Control Document Type", LinkHelper.GetDetailPageLink( Factories.ConceptManager.GetByRowId( Model.LifeCycleControlDocumentType ), Url.Content, m => m.Name ) ),
		new NamedString( "Course Type(s)", LinkHelper.GetDetailPageLinkList( Factories.ConceptManager.GetMultiple( Model.CourseType ), Url.Content, m => m.Name, "<ul><li>", "</li><li>", "</li></ul>" ) ),
	}
} )

@Html.Partial( "~/Views/Search/_ItemListSearch.cshtml" )
<script type="text/javascript">
	var ItemListConfigs = {
		CommonFilters: [],
		Searches: {
			TrainingTasks: {
				Header: "Training Tasks",
				Description: "<p>Training Tasks which are associated with this Course, along with the Assessment Approach(es) for each Training Task.</p>",
				SearchType: "CourseContext",
				StyleType: "TrainingTask",
				Filters: [ { Name: "> HasCourseId > Course", ItemIds: [ @Model.Id ] } ],
				Fields: [
					{ Label: "Course Context", RenderPath: ["Id|CourseContext"], QueryPath: ".Id", IsNumeric: true },
					{ Label: "Training Task", RenderPath: ["HasTrainingTask|TrainingTask", "Description|TrainingTask" ], QueryPath: "> HasTrainingTaskId > TrainingTask.TextFields" },
					{ Label: "Assessment Approach", RenderPath: ["AssessmentMethodType|Concept", "Name|Concept"], QueryPath: "> AssessmentMethodConceptId > Concept.Name", AsPlainText: true }
				]
			},
			RatingTasks: {
				Header: "Rating Tasks",
				Description: "<p>Rating Tasks which reference Training Tasks which are associated with this Course in the context of a given Rating, along with the Assessment Approach(es) for each Training Task.</p>",
				SearchType: "RatingContext",
				StyleType: "RatingTask",
				Filters: [ { Name: "> CourseContextId > CourseContext > HasCourseId > Course", ItemIds: [ @Model.Id ] } ],
				Fields: [
					{ Label: ItemListSearches.RatingContextLabel, RenderPath: ["Id|RatingContext"], QueryPath: ".Id", IsNumeric: true },
					{ Label: "Rating", RenderPath: ["HasRating|Rating", "CodedNotation|Rating"], QueryPath: "> RatingId > Rating.CodedNotation" },
					{ Label: "Rating Task", RenderPath: ["HasRatingTask|RatingTask", "Description|RatingTask"], QueryPath: "> RatingTaskId > RatingTask.TextFields" },
					{ Label: "Training Task", RenderPath: [ "HasCourseContext|CourseContext", "HasTrainingTask|TrainingTask", "Description|TrainingTask" ], QueryPath: "> CourseContextId > CourseContext > HasTrainingTaskId > TrainingTask.TextFields" },
					{ Label: "Training Gap", RenderPath: ["TrainingGapType|Concept", "Name|Concept"], QueryPath: "> FormalTrainingGapId > Concept.Name", AsPlainText: true }
				]
			}
		}
	};
	//

	$(document).ready(function () {
		ItemListSearches.setupItemLists(ItemListConfigs);
	});
	//
</script>
<style type="text/css">
	table [data-column='Course Context'] { width: 125px; }
	table[data-styletype='TrainingTask'] [data-column='Rating'] { width: 75px; }
	table[data-styletype='TrainingTask'] [data-column='Assessment Approach'] { width: 200px; }
	table[data-styletype='RatingTask'] [data-column='Rating'] { width: 75px; }
	table[data-styletype='RatingTask'] [data-column='Training Gap'] { width: 100px; margin-left: auto; }
</style>

@Html.Partial( "~/Views/Shared/_TasksBySourceType.cshtml", new TasksBySourceTypeConfig( "which are associated with Training Tasks which are taught by this Course", "for this Course", new List<SearchFilter>() { 
	new SearchFilter()
	{
		Name = "> CourseContextId > CourseContext > HasCourseId > Course",
		ItemIds = new List<int>(){ Model.Id }
	}
} ) )

@*
@Html.Partial( "~/Views/Shared/_RatingTaskCountBySourceTypeTable.cshtml", new List<SearchFilter>()
{
	new SearchFilter()
	{
		Name = "> CourseContextId > CourseContext > HasCourseId > Course",
		ItemIds = new List<int>(){ Model.Id }
	}
} )
*@

<item-list-search name="TrainingTasks"></item-list-search>
<item-list-search name="RatingTasks"></item-list-search>
