@using Models.Schema;
@using Models.DTO;
@model Course
@{
	ViewBag.Title = "Course: " + Model.Name;
}

@Html.Partial( "~/Views/Shared/_DetailShared.cshtml" )
@Html.Partial( "~/Views/Shared/_DetailBasicInfo.cshtml", new DetailBasicInfoHelper()
{
	TypeLabel = "Course",
	TypeURL = Model.GetType().Name.ToLower(),
	Id = Model.Id,
	CTID = Model.CTID,
	Name = Model.Name,
	Description = Model.Description,
	Identifiers = new List<NamedString>()
	{
		new NamedString( "System ID", Model.Id.ToString() ),
		new NamedString( "CIN", Model.CodedNotation ),
		new NamedString( "Course Type", String.Join(", ",Model.CourseTypeList.ToArray()) ),
		new NamedString( "CCA", Model.OrganizationName ),
		new NamedString( "LCCD", Model.LifeCycleControlDocument ),
		new NamedString( "Training Tasks", Model.TrainingTasks.Count.ToString() ),
		new NamedString( "CTID", Model.CTID ),
	}
} )

@if ( Model.TrainingTasks != null && Model.TrainingTasks.Count() > 0 )
{
	<div class="section">
		<h3 class="sectionHeader">Training Tasks</h3>
		<table class="trainingTasksTable">
			<thead>
				<tr>
					<th style="width: 70%">CTTL/PPP/TCCD Statement</th>
					<th>Course Assessment Approach</th>
				</tr>
			</thead>
			<tbody>
				@foreach ( var item in Model.TrainingTasks.ToList() )
				{
					<tr>
						<td><a href="@Url.Content( "~/TrainingTask/Detail/" + item.Id )">@item.Description</a></td>
						<td>@string.Join( ", ", @item.AssessmentMethods )</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
