@using Models.Schema;
@using Models.DTO;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@model Course
@{
	var title = Model.Id > 0 ? "Editing Course" : "New Course";
	ViewBag.Title = title;
}

@Html.Partial( "~/Views/Shared/_AJAXTools.cshtml" )
@Html.Partial( "~/Views/Shared/_FormHelperV2.cshtml", new EditFormHelperV2( Model, new JObject() {
	{ Factories.ConceptSchemeManager.ConceptScheme_CourseCategory, JArray.FromObject( Factories.ConceptManager.GetAllConceptsForScheme( Factories.ConceptSchemeManager.ConceptScheme_CourseCategory ).Select( m => SimpleItemHelper.GetSimpleItem( m ) ).OrderBy( m => m.Name ).ToList() ) },
	{ Factories.ConceptSchemeManager.ConceptScheme_LifeCycleControlDocumentCategory, JArray.FromObject( Factories.ConceptManager.GetAllConceptsForScheme( Factories.ConceptSchemeManager.ConceptScheme_LifeCycleControlDocumentCategory ).Select( m => SimpleItemHelper.GetSimpleItem( m ) ).OrderBy( m => m.Name ).ToList() ) }
} ) )

<h2>@title</h2>

<h3>Basic Info</h3>
<div class="field" data-fieldtype="SystemIdentifiers"></div>
<div class="field" data-fieldtype="Text" data-property="Name" data-label="Name"></div>
<div class="field" data-fieldtype="Text" data-property="CodedNotation" data-label="Course Code"></div>
<div class="field" data-fieldtype="Select" data-property="LifeCycleControlDocumentType" data-label="Life Cycle Control Document Type" data-sourceuri="@Factories.ConceptSchemeManager.ConceptScheme_LifeCycleControlDocumentCategory"></div>
<div class="field" data-fieldtype="SuggestionSingle" data-property="CurriculumControlAuthority" data-label="Curriculum Control Authority" data-searchtype="@nameof(Organization)"></div>
<div class="field" data-fieldtype="CheckBoxList" data-property="CourseType" data-label="Course Type" data-sourceuri="@Factories.ConceptSchemeManager.ConceptScheme_CourseCategory"></div>
<div class="field" data-fieldtype="SaveButton"></div>
