@using Models.Schema;
@using Models.DTO;
@using Newtonsoft.Json;
@model Course
@{
	var title = Model.Id > 0 ? "Editing Course" : "New Course";
	ViewBag.Title = title;
	var courseTypeList = Factories.ConceptSchemeManager.GetbyShortUri( Factories.ConceptSchemeManager.ConceptScheme_CourseType ).Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList();
	var ccaList = Factories.OrganizationManager.GetAll().Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList();
}

@Html.Partial( "~/Views/Shared/_FormHelperV1.cshtml" )

<script type="text/javascript">
	var Data = {
		//The original resource
		Source: @Html.Raw( JsonConvert.SerializeObject( Model ) ),
		//Mapping used internally for the FormItem stuff
		Form: {},
		//Functions to configure FormItem stuff
		Config: {
			//Configure Save Button
			SaveButton: function (Field) {
				Field.SaveURL = "@Url.Content("~/course/save/")";
				Field.RedirectAfterSuccessURL = "@Url.Content("~/course/detail/")";
				Field.getDataToSave = function () {
					return {
						...Data.Source,
						...Data.Form.read()
					};
				}
			},
			CourseType: function (Field) {
				Field.Items = @Html.Raw( JsonConvert.SerializeObject( courseTypeList, Formatting.None ) );
				Field.renderItems();
			},
			CurriculumControlAuthority: function (Field) {
				Field.Items = @Html.Raw( JsonConvert.SerializeObject( ccaList, Formatting.None ) );
				Field.renderItems();
			}
		}
	};

	$(document).ready(function () {
		FormItem.setupFormItems(Data.Form, "Course", Data.Config);
		Data.Form.write(Data.Source);
	});
	//
</script>

<h2>@title</h2>

<form-item data-path="Course.Id" data-ui="display" data-label="ID"></form-item>
<form-item data-path="Course.RowId" data-ui="display" data-label="RowID"></form-item>
<form-item data-path="Course.Name" data-ui="text" data-label="Name"></form-item>
<form-item data-path="Course.CodedNotation" data-ui="text" data-label="Code"></form-item>
<form-item data-path="Course.CourseType" data-ui="checkboxlist" data-label="Course Type" data-config="CourseType"></form-item>
<form-item data-path="Course.CurriculumControlAuthority" data-ui="checkboxlist" data-label="Curriculum Control Authority" data-config="CurriculumControlAuthority"></form-item>
<form-item data-path="Course.SaveButton" data-ui="savebutton" data-label="Save Changes" data-config="SaveButton"></form-item>