@using System.Reflection;
@using Models.DTO;
@model DetailBasicInfoHelper
@{
	//need a process for who can edit
	//some resources like billet title are across rates and rating context so maybe 
	var isAdmin = Services.AccountServices.IsUserSiteManager();
}
@helper RenderRow( string label, string value ) {
	if ( !string.IsNullOrWhiteSpace( value ) )
	{
		<tr><td>@label</td><td>@value</td></tr>
	}
}
@helper RenderRow(string label, DateTime value ) { 
	<tr><td>@label</td><td>@( value != null && value > DateTime.MinValue ? value.ToString( "yyyy-MM-dd" ) : "Unknown" )</td></tr>
}

@if ( isAdmin )
{
<script type="text/javascript">
	$(document).ready(function () {
		setupDeleteButton();
	});
	//

	function setupDeleteButton() {
		$(".deleteButton").on("click", function () {
			if (!confirm("Are you sure you want to delete this data? This change cannot be undone!")) {
				return;
			}

			fetch("@Url.Content("~/" + Model.TypeURL + "/delete/" + Model.Id)")
				.then(response => {
					if (response.ok) {
						return response.text();
					}
					else {
						throw response;
					}
				})
				.then(text => {
					var parsed = JSON.parse(text);
					if (parsed.Valid) {
						alert("Data deleted. Redirecting...");
						window.location.href = "@Url.Content("~/" + Model.TypeURL + "/search")";
					}
					else {
						alert("One or more errors occurred when trying to delete this data:\n" + parsed.Status.join("\n"));
					}
				})
				.catch(error => {
					console.log("Error deleting data", error);
					alert("Error deleting data", error);
				});
		});
	}
	//
</script>
}

<style type="text/css">
	.section { margin-bottom: 50px; }
	.section .sectionHeader { margin: 0; padding: 5px 0; }
	.section table { width: 100%; }
	.section table thead tr { }
	.section table thead tr th { padding: 5px; }
	.section table tbody tr { border-top: 1px solid #CCC; }
	.section table tbody tr td { padding: 5px; vertical-align: top; }

	.banner { display: flex; align-items: center; gap: 10px; background-color: #EEE; padding: 20px; margin-bottom: 10px; }
	.banner .bannerText { flex: 1 1 auto; font-size: 12px; }
	.banner .bannerIdentifiers { flex: 0 0 400px; }
	.banner .bannerText .subtitle { display: flex; align-items: baseline; }
	.banner .bannerText .subtitle > * { padding: 0 10px; border-right: 1px solid #555; }
	.banner .bannerText .subtitle > *:last-child { border: none; }
	.banner .bannerText .deleteButton { color: #337ab7; }
	
	.banner .bannerIdentifiers { padding-left: 10px; border-left: 1px solid #CCC; font-size: 12px; }
	.banner .bannerIdentifiers table { width: 100%; }
	.banner .bannerIdentifiers table tr { border-bottom: 1px solid #CCC; }
	.banner .bannerIdentifiers table tr:last-child { border: none; }
	.banner .bannerIdentifiers table tr td { padding: 5px; vertical-align: top; }
	.banner .bannerIdentifiers table tr td:first-child { font-weight: bold; text-align: right; min-width: 100px; }
	.banner .bannerIdentifiers table tr td:last-child { min-width: 200px; }

	.propertyList {  }
	.propertyList .property { display: flex; align-items: baseline; gap: 20px; padding: 5px 10px; border-top: 1px solid #CCC; }
	.propertyList .property:first-child { border-top: none; }
	.propertyList .property .propertyLabel { text-align: right; width: 225px; font-weight: bold; }
	.propertyList .property :is(ul, ol) { padding: 0 15px; margin: 0; }
	.propertyList h4:not(:first-child) { margin-top: 20px; }

	@@media(max-width: 1000px) {
		.banner { display: block; }
		.banner .bannerText { text-align: center; }
		.banner .bannerText .subtitle { justify-content: center; }
		.banner .bannerIdentifiers { padding: 5px 0 0 0; margin-top: 5px; border-left: none; border-top: 1px solid #CCC; }
	}
</style>
<div class="banner">
	<div class="bannerText">
		<h1>@Model.Name</h1>
		<div class="subtitle">
			<div class="typeLabel">@Model.TypeLabel</div>
			<a class="jsonLink" href="@Url.Content( "~/" + Model.TypeURL + "/json/" + Model.Id )" target="_blank">JSON-LD (ID-Based)</a>
			<a class="jsonLink" href="@Url.Content( "~/rdf/resources/" + Model.CTID )" target="_blank">JSON-LD (CTID-Based)</a>
			@*probably others than admin will be able to edit. In some cases it will be rmtl specific *@
			@if ( isAdmin )
			{
				<a class="editLink" href="@Url.Content( "~/" + Model.TypeURL + "/edit/" + Model.Id )">Edit Data</a>
				<button class="linkButton deleteButton">Delete Data</button>
			}
		</div>
	</div>
	<div class="bannerIdentifiers">
		<table>
			<tbody>
				@RenderRow( "System ID", Model.Id.ToString() )
				@RenderRow( "CTID", Model.CTID )
				@RenderRow( "Record Created", Model.Created )
				@RenderRow( "Record Updated", Model.LastUpdated )
			</tbody>
		</table>
	</div>

</div>

@if ( Model.PropertyList.Where( m => !string.IsNullOrWhiteSpace( m.Value ) ).Count() > 0 )
{
	<div class="section propertyList">
		<h3 class="sectionHeader">Properties</h3>
		@foreach( var item in Model.PropertyList.Where( m => !string.IsNullOrWhiteSpace( m.Value ) ).ToList() )
		{
			if ( !string.IsNullOrWhiteSpace( item.HeaderSectionLabel ) )
			{
				<h4>@Html.Raw(item.HeaderSectionLabel)</h4>
			}
			else
			{
				<div class="property">
					<div class="propertyLabel">@Html.Raw( item.Key )</div>
					<div class="propertyValue">@Html.Raw( item.Value )</div>
				</div>
			}
		}
	</div>
}
