@using Models.Schema;
@using Models.DTO;
@using Models.Search;
@model WorkRole
@{
	ViewBag.Title = "Functional Area: " + Model.Name;
	@*
	var ratingTasks = Factories.RatingTaskManager.Search( new SearchQuery()
	{
		PageSize = -1,
		Filters = new List<SearchFilter>()
		{
			new SearchFilter()
			{
				Name = "ceterms:WorkRole",
				ItemIds = new List<int>(){ Model.Id }
			}
		},
		GetAllData = true
	} );
	*@
}

@Html.Partial( "~/Views/Shared/_DetailBasicInfo.cshtml", new DetailBasicInfoHelper( Model )
{
	TypeLabel = "Functional Area",
	Name = Model.Name
} )

@Html.Partial( "~/Views/Shared/_TasksBySourceType.cshtml", new TasksBySourceTypeConfig( "for this Functional Area", "for this Functional Area", new List<SearchFilter>() { 
	new SearchFilter()
	{
		Name = "> WorkRoleId > WorkRole",
		ItemIds = new List<int>(){ Model.Id }
	}
} ) )

@*
@Html.Partial( "~/Views/Shared/_RatingTaskCountBySourceTypeTable.cshtml", new List<SearchFilter>()
{
	new SearchFilter()
	{
		Name = "> WorkRoleId > WorkRole",
		ItemIds = new List<int>(){ Model.Id }
	}
} )
*@

@Html.Partial( "~/Views/Search/_ItemListSearch.cshtml" )
<script type="text/javascript">
	var ItemListConfigs = {
		CommonFilters: [
			{ Name: "> WorkRoleId > WorkRole", ItemIds: [ @Model.Id ] }
		],
		Searches: {
			RatingTasks: {
				Header: "Rating Tasks",
				Description: "<p>Rating Tasks associated with this Functional Area.</p>",
				SearchType: "RatingContext",
				StyleType: "RatingTask",
				Fields: [
					{ Label: ItemListSearches.RatingContextLabel, RenderPath: ["Id|RatingContext"], QueryPath: ".Id", IsNumeric: true },
					{ Label: "Rating", RenderPath: ["HasRating|Rating", "CodedNotation|Rating"], QueryPath: "> RatingId > Rating.CodedNotation" },
					{ Label: "Rating Task", RenderPath: ["HasRatingTask|RatingTask", "Description|RatingTask"], QueryPath: "> RatingTaskId > RatingTask.TextFields" },
					{ Label: "Training Gap", RenderPath: ["TrainingGapType|Concept", "Name|Concept"], QueryPath: "> FormalTrainingGapId > Concept.Name", AsPlainText: true }
				]
			},
			ClusterAnalysis: {
				Header: "Cluster Analyses and Rating Tasks",
				Description: "<p>Cluster Analyses associated with the Rating Tasks which are associated with this Functional Area.</p>",
				SearchType: "RatingContext",
				StyleType: "ClusterAnalysis",
				Filters: [
					{ Name: "> ClusterAnalysisId > ClusterAnalysis:NotNull" }
				],
				Fields: [
					{ Label: ItemListSearches.RatingContextLabel, RenderPath: ["Id|RatingContext"], QueryPath: ".Id", IsNumeric: true },
					{ Label: "Cluster Analysis", RenderPath: ["HasClusterAnalysis|ClusterAnalysis", "Id|ClusterAnalysis"], QueryPath: "> ClusterAnalysisId > ClusterAnalysis", IsNumeric: true },
					{ Label: "Rating", RenderPath: ["HasRating|Rating", "CodedNotation|Rating"], QueryPath: "> RatingId > Rating.CodedNotation" },
					{ Label: "Cluster Analysis Title", RenderPath: ["HasClusterAnalysis|ClusterAnalysis", "HasClusterAnalysisTitle|ClusterAnalysisTitle", "Name|ClusterAnalysisTitle"], QueryPath: "> ClusterAnalysisId > ClusterAnalysis > HasClusterAnalysisTitleId > ClusterAnalysisTitle.Name" },
					{ Label: "Rating Task", RenderPath: ["HasRatingTask|RatingTask", "Description|RatingTask"], QueryPath: "> RatingTaskId > RatingTask.TextFields" }
				]
			}
		}
	};
	//

	$(document).ready(function () {
		ItemListSearches.setupItemLists(ItemListConfigs);
	});
	//
</script>
<style type="text/css">
	table[data-styletype='RatingTask'] [data-column='Rating'] { width: 75px; }
	table[data-styletype='RatingTask'] [data-column='Training Gap'] { width: 100px; margin-left: auto; }
	table[data-styletype='ClusterAnalysis'] [data-column='Rating'] { width: 75px; }
	table[data-styletype='ClusterAnalysis'] [data-column='Cluster Analysis'] { width: 125px; }
	table[data-styletype='ClusterAnalysis'] [data-column='Cluster Analysis title'] { width: 175px; }
</style>

<item-list-search name="RatingTasks"></item-list-search>
<item-list-search name="ClusterAnalysis"></item-list-search>
