@using Models.Schema;
@using Models.DTO;
@using Models.Search;
@model WorkRole
@{
	ViewBag.Title = "Functional Area: " + Model.Name;
	var ratingTasks = Factories.RatingTaskManager.Search( new SearchQuery()
	{
		PageSize = -1,
		Filters = new List<SearchFilter>()
		{
			new SearchFilter()
			{
				Name = "ceterms:WorkRole",
				ItemIds = new List<int>(){ Model.Id }
			}
		}
	}, false );
}

@Html.Partial( "~/Views/Shared/_DetailShared.cshtml" )
@Html.Partial( "~/Views/Shared/_DetailBasicInfo.cshtml", new DetailBasicInfoHelper()
{
	TypeLabel = "Functional Area",
	TypeURL = Model.GetType().Name.ToLower(),
	Id = Model.Id,
	CTID = Model.CTID,
	Name = Model.Name,
	Description = Model.Description,
	Identifiers = new List<NamedString>()
	{
		new NamedString( "System ID", Model.Id.ToString() ),
		new NamedString( "CTID", Model.CTID )
	}
} )

@Html.Partial( "~/Views/Shared/_RatingTaskCountBySourceTypeTable.cshtml", new List<SearchFilter>()
{
	new SearchFilter()
	{
		Name = "ceterms:WorkRole",
		ItemIds = new List<int>(){ Model.Id }
	}
} )


@if( ratingTasks.Count() > 0 )
{
	<div class="section">
		<h3 class="sectionHeader">Rating Tasks (@ratingTasks.Count())</h3>
		<table class="ratingTasksTable">
			<thead>
				<tr>
					<th>Description</th>
					<th>Training Gap Type</th>
				</tr>
			</thead>
			<tbody>
				@foreach ( var item in ratingTasks )
				{
					<tr>
						<td><a href="@Url.Content( "~/RatingTask/Detail/" + item.Id )">@item.Description</a></td>
						<td>@(item.TaskTrainingGap?.Name ?? "Unknown")</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
}