@using Models.Schema;
@using Models.DTO;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@model ClusterAnalysis
@{
	var title = Model.Id > 0 ? "Editing Cluster Analysis" : "New Cluster Analysis";
	ViewBag.Title = title;

	var conceptMap = Factories.ConceptSchemeManager.GetConceptSchemeMap( true );
}

@Html.Partial( "~/Views/Shared/_AJAXTools.cshtml" )
@Html.Partial( "~/Views/Shared/_FormHelperV2.cshtml", new EditFormHelperV2( Model, new JObject() {
	{ conceptMap.TrainingSolutionCategory.SchemaUri, JArray.FromObject( conceptMap.TrainingSolutionCategory.Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList() ) },
	{ conceptMap.RecommendedModalityCategory.SchemaUri, JArray.FromObject( conceptMap.RecommendedModalityCategory.Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList() ) },
	{ conceptMap.DevelopmentSpecificationCategory.SchemaUri, JArray.FromObject( conceptMap.DevelopmentSpecificationCategory.Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList() ) },
	{ conceptMap.CandidatePlatformCategory.SchemaUri, JArray.FromObject( conceptMap.CandidatePlatformCategory.Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList() ) },
	{ conceptMap.DevelopmentRatioCategory.SchemaUri, JArray.FromObject( conceptMap.DevelopmentRatioCategory.Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList() ) },
	{ conceptMap.CFMPlacementCategory.SchemaUri, JArray.FromObject( conceptMap.CFMPlacementCategory.Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList() ) }
} ) )

<h2>@title</h2>

<h3>Basic Info</h3>
<div class="field" data-fieldtype="SystemIdentifiers"></div>
<div class="field" data-fieldtype="SuggestionSingle" data-property="HasClusterAnalysisTitle" data-label="Cluster Analysis Title" data-searchtype="@nameof(ClusterAnalysisTitle)"></div>
<div class="field" data-fieldtype="SuggestionSingle" data-property="HasRating" data-label="Related Rating" data-searchtype="@nameof(Rating)"></div>
<div class="field" data-fieldtype="SuggestionSingle" data-property="HasRatingTask" data-label="Related Rating Task" data-searchtype="@nameof(RatingTask)"></div>
<div class="field" data-fieldtype="SuggestionSingle" data-property="HasBilletTitle" data-label="Related Billet Title" data-searchtype="@nameof(BilletTitle)"></div>
<div class="field" data-fieldtype="SuggestionSingle" data-property="HasWorkRole" data-label="Related Functional Area" data-searchtype="@nameof(WorkRole)"></div>
<div class="field" data-fieldtype="Text" data-property="PriorityPlacement" data-label="Priority Placement"></div>
<div class="field" data-fieldtype="Text" data-property="DevelopmentTime" data-label="Development Time"></div>
<div class="field" data-fieldtype="Text" data-property="EstimatedInstructionalTime" data-label="Estimated Instructional Time"></div>
<div class="field" data-fieldtype="Select" data-property="TrainingSolutionType" data-label="Training Solution Type" data-sourceuri="@conceptMap.TrainingSolutionCategory.SchemaUri"></div>
<div class="field" data-fieldtype="Select" data-property="RecommendedModalityType" data-label="Recommended Modality Type" data-sourceuri="@conceptMap.RecommendedModalityCategory.SchemaUri"></div>
<div class="field" data-fieldtype="Select" data-property="DevelopmentSpecificationType" data-label="Development Specification Type" data-sourceuri="@conceptMap.DevelopmentSpecificationCategory.SchemaUri"></div>
<div class="field" data-fieldtype="Select" data-property="DevelopmentRatioType" data-label="Development Ratio Type" data-sourceuri="@conceptMap.DevelopmentRatioCategory.SchemaUri"></div>
<div class="field" data-fieldtype="CheckBoxList" data-property="CFMPlacementType" data-label="CFM Placement Type" data-sourceuri="@conceptMap.CFMPlacementCategory.SchemaUri"></div>
<div class="field" data-fieldtype="CheckBoxList" data-property="CandidatePlatformType" data-label="Candidate Platform Type" data-sourceuri="@conceptMap.CandidatePlatformCategory.SchemaUri"></div>
<div class="field" data-fieldtype="SaveButton"></div>
