@using Models.Schema;
@using Models.DTO;
@using Newtonsoft.Json;
@model Concept
@{
	var title = Model.Id > 0 ? "Editing Concept" : "New Concept";
	ViewBag.Title = title;
	var conceptSchemeList = Factories.ConceptSchemeManager.GetAll().Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList();
}

@Html.Partial( "~/Views/Shared/_FormHelperV1.cshtml" )

<script type="text/javascript">
	var Data = {
		//The original resource
		Source: @Html.Raw( JsonConvert.SerializeObject( Model, Formatting.None ) ),
		//Mapping used internally for the FormItem stuff
		Form: {},
		//Functions to configure FormItem stuff
		Config: {
			//Configure Save Button
			SaveButton: function (Field) {
				Field.SaveURL = "@Url.Content("~/concept/save/")";
				Field.RedirectAfterSuccessURL = "@Url.Content("~/concept/detail/")";
				Field.getDataToSave = function () {
					return {
						...Data.Source,
						...Data.Form.read()
					};
				}
			},
			//Configure list of Concept Schemes
			InScheme: function (Field) {
				Field.Items = @Html.Raw( JsonConvert.SerializeObject( conceptSchemeList, Formatting.None ) );
				Field.renderItems();
			},
			IsActive: function (Field) {
				Field.Items[0].Name = "This Concept is Enabled"; //Optionally, rename the default "True / False" item
				Field.renderItems();
			}
		}
	};

	$(document).ready(function () {
		FormItem.setupFormItems(Data.Form, "Concept", Data.Config);
		Data.Form.write(Data.Source);
	});
	//
</script>

<h2>@title</h2>
<form-item data-path="Concept.Id" data-ui="display" data-label="ID"></form-item>
<form-item data-path="Concept.RowId" data-ui="display" data-label="RowID"></form-item>

<h3>Basic Info</h3>
<form-item data-path="Concept.Name" data-ui="text" data-label="Name"></form-item>
<form-item data-path="Concept.CodedNotation" data-ui="text" data-label="Code"></form-item>
<form-item data-path="Concept.Description" data-ui="textarea" data-label="Description"></form-item>
<form-item data-path="Concept.WorkElementType" data-ui="text" data-label="Work Element Type (If applicable, exact text for the value in the RMTL Spreadsheet that is equivalent to this Concept)"></form-item>
<form-item data-path="Concept.InScheme" data-ui="select" data-label="Belongs to Concept Scheme" data-config="InScheme"></form-item>
<form-item data-path="Concept.IsActive" data-ui="boolean" data-label="Is Active" data-config="IsActive"></form-item>

<h3>Save Changes</h3>
<form-item data-path="Concept.SaveButton" data-ui="savebutton" data-label="Save Changes" data-config="SaveButton"></form-item>