@using Models.Schema;
@using Models.DTO;
@model RatingTask
@{
	ViewBag.Title = "Rating Task: " + Model.Description;
	var billetTitles = Model.HasBilletTitle.Select( m => Factories.JobManager.Get( m ) ).ToList();
	var workRoles = Model.HasWorkRole.Select( m => Factories.WorkRoleManager.Get( m ) ).ToList();
	var ratings = Model.HasRating.Select( m => Factories.RatingManager.Get( m ) ).ToList();
}

@Html.Partial( "~/Views/Shared/_DetailShared.cshtml" )
@Html.Partial( "~/Views/Shared/_DetailBasicInfo.cshtml", new DetailBasicInfoHelper()
{
	TypeLabel = "Rating Task",
	TypeURL = Model.GetType().Name.ToLower(),
	Id = Model.Id,
	CTID = Model.CTID,
	Name = "Rating Task",
	Description = Model.Description,
	Identifiers = new List<NamedString>()
	{
		new NamedString( "System ID", Model.Id.ToString() ),
		new NamedString( "CTID", Model.CTID ),
		new NamedString( "Code", Model.CodedNotation ),
		new NamedString( "Rank", "<a href=\"" + Url.Content( "~/Concept/Detail/" + Model.TaskPayGrade.Id ) + "\">" + Model.TaskPayGrade.CodedNotation + " - " + Model.TaskPayGrade.Name + "</a>" ),
		new NamedString( "Source", "<a href=\"" + Url.Content( "~/ReferenceResource/Detail/" + Model.ReferenceResource.Id ) + "\">" + Model.ReferenceResource.Name + "</a>" ),
		new NamedString( "Date of Source", Model.ReferenceResource.PublicationDate ),
		new NamedString( "Work Element Type", "<a href=\"" + Url.Content( "~/Concept/Detail/" + Model.TaskReferenceType.Id ) + "\">" + Model.TaskReferenceType.WorkElementType + "</a>" ),
		new NamedString( "Task Applicability", "<a href=\"" + Url.Content( "~/Concept/Detail/" + Model.TaskApplicabilityType.Id ) + "\">" + Model.TaskApplicabilityType.Name + "</a>" ),
		new NamedString( "Formal Training Gap", "<a href=\"" + Url.Content( "~/Concept/Detail/" + Model.TaskTrainingGap.Id ) + "\">" + Model.TaskTrainingGap.Name + "</a>" ),
	}
} )

@Html.Partial( "~/Views/Search/_ItemListSearch.cshtml" )
<script type="text/javascript">
	var ItemListConfigs = {
		CommonFilters: [
			{ Name: "navy:RatingTask", ItemIds: [ @Model.Id ] }
		],
		Searches: {
			Ratings: {
				Header: "Associated Ratings",
				Type: "Rating",
				Columns: ["Code", "Name"],
				Cells: ["CodedNotation", (Result) => { return ItemListSearches.getLink("@Url.Content("~/Rating/Detail/")" + Result.Id, Result.Name) }]
			},
			BilletTitles: {
				Header: "Billet Titles",
				Type: "BilletTitle",
				Columns: ["Name"],
				Cells: [(Result) => { return ItemListSearches.getLink("@Url.Content("~/BilletTitle/Detail/")" + Result.Id, Result.Name) }]
			},
			WorkRoles: {
				Header: "Functional Areas",
				Type: "WorkRole",
				Columns: ["Name"],
				Cells: [(Result) => { return ItemListSearches.getLink("@Url.Content("~/WorkRole/Detail/")" + Result.Id, Result.Name) }]
			}
		}
	};
	//

	$(document).ready(function () {
		ItemListSearches.setupItemLists(ItemListConfigs);
	});
	//
</script>
<style type="text/css">
	table[data-type='Rating'] [data-column='Code'] { width: 50px; }
</style>

<item-list-search name="Ratings"></item-list-search>
<item-list-search name="BilletTitles"></item-list-search>
<item-list-search name="WorkRoles"></item-list-search>

@*
@if( ratings.Count() > 0 )
{
	<div class="section rating">
		<h3 class="sectionHeader">Associated Ratings</h3>
		<table>
			<thead>
				<tr>
					<th style="width: 50px;">Code</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				@foreach( var item in ratings )
				{
					<tr>
						<td>@item.CodedNotation</td>
						<td><a href="@Url.Content( "~/Rating/Detail/" + item.Id )">@item.Name</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

@if( billetTitles.Count() > 0 )
{
	<div class="section billetTitle">
		<h3 class="sectionHeader">Billet Titles</h3>
		<table>
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				@foreach( var item in billetTitles )
				{
					<tr>
						<td><a href="@Url.Content( "~/BilletTitle/Detail/" + item.Id )">@item.Name</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

@if( workRoles.Count() > 0 )
{
	<div class="section workRole">
		<h3 class="sectionHeader">Functional Areas</h3>
		<table>
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				@foreach( var item in workRoles )
				{
					<tr>
						<td><a href="@Url.Content( "~/WorkRole/Detail/" + item.Id )">@item.Name</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
*@

@if ( Model.TrainingTasks != null && Model.TrainingTasks.Count() > 0 )
{

	<div class="section trainingTasks">
		<h3 class="sectionHeader">Training Tasks</h3>
		<table>
			<thead>
				<tr>
					<th style="width:125px;">CIN</th>
					<th style="width:25%;">Course</th>
					<th>Training Task</th>
				</tr>
			</thead>
			<tbody>
				@foreach ( var item in Model.TrainingTasks.ToList() )
				{
					<tr>
						<td>@item.CourseCodedNotation</td>
						<td><a href="@Url.Content( "~/Course/Detail/" + item.CourseId )">@item.CourseName</a></td>
						<td><a href="@Url.Content( "~/TrainingTask/Detail/" + item.Id )">@item.Description</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>

}

@if ( Model.ClusterAnalysis != null && !string.IsNullOrWhiteSpace( Model.ClusterAnalysis.ClusterAnalysisTitle ) )
{
	<style type="text/css">
		.clusterAnalysis table tbody tr td:first-child { font-weight: bold; width: 225px; }
	</style>
	<div class="section clusterAnalysis">
		<h3 class="sectionHeader">Cluster Analysis</h3>
		<table>
			<tbody>
				<tr>
					<td>Cluster Analysis Title</td>
					<td><a href="@Url.Content( "~/ClusterAnalysis/Detail/" + Model.ClusterAnalysis.Id )">@Model.ClusterAnalysis.ClusterAnalysisTitle</a></td>
				</tr>
				<tr>
					<td>Training Solution Type</td>
					<td><a href="@Url.Content( "~/Concept/Detail/" + Model.ClusterAnalysis.TrainingSolutionTypeId )">@Model.ClusterAnalysis.TrainingSolution</a></td>
				</tr>
				<tr>
					<td>Recommended Modality</td>
					<td><a href="@Url.Content( "~/Concept/Detail/" + Model.ClusterAnalysis.RecommendedModalityId )">@Model.ClusterAnalysis.RecommendedModality</a></td>
				</tr>
				<tr>
					<td>Development Specification</td>
					<td><a href="@Url.Content( "~/Concept/Detail/" + Model.ClusterAnalysis.DevelopmentSpecificationId )">@Model.ClusterAnalysis.DevelopmentSpecification</a></td>
				</tr>
				<tr>
					<td>Candidate Platform</td>
					<td>@Model.ClusterAnalysis.CandidatePlatform</td>
				</tr>
				<tr>
					<td>CFM Placement</td>
					<td>@Model.ClusterAnalysis.CFMPlacement</td>
				</tr>
				<tr>
					<td>Priority Placement</td>
					<td>@Model.ClusterAnalysis.PriorityPlacement</td>
				</tr>
				<tr>
					<td>Development Ratio</td>
					<td>@Model.ClusterAnalysis.DevelopmentRatio</td>
				</tr>
				<tr>
					<td>Estimated Instructional Time</td>
					<td>@Model.ClusterAnalysis.EstimatedInstructionalTime</td>
				</tr>
				<tr>
					<td>Development Time</td>
					<td>@Model.ClusterAnalysis.DevelopmentTime</td>
				</tr>
			</tbody>
		</table>
	</div>
}
