@using Models.Schema;
@using Newtonsoft.Json;
@model RatingTask
@{
	var title = Model.Id > 0 ? "Editing Rating Task" : "New Rating Task";
	ViewBag.Title = title;
}

@Html.Partial( "~/Views/Shared/_FormHelperV1.cshtml" )

<script type="text/javascript">
	var Data = {
		//The original resource
		Source: @Html.Raw( JsonConvert.SerializeObject( Model ) ),
		//Mapping used internally for the FormItem stuff
		Form: {},
		//Functions to configure FormItem stuff
		Config: {
			//Configure Save Button
			SaveButton: function (Field) {
				Field.SaveURL = "@Url.Content("~/ratingtask/save/")";
				Field.RedirectAfterSuccessURL = "@Url.Content("~/ratingtask/detail/")";
				Field.getDataToSave = function () {
					return {
						...Data.Source,
						...Data.Form.read()
					};
				}
			}
		}
	};

	$(document).ready(function () {
		FormItem.setupFormItems(Data.Form, "RatingTask", Data.Config);
		Data.Form.write(Data.Source);
	});
	//
</script>

<h2>@title</h2>

<form-item data-path="RatingTask.Id" data-ui="display" data-label="ID"></form-item>
<form-item data-path="RatingTask.RowId" data-ui="display" data-label="RowID"></form-item>
<form-item data-path="RatingTask.CodedNotation" data-ui="text" data-label="Code"></form-item>
<form-item data-path="RatingTask.Description" data-ui="textarea" data-label="Description"></form-item>
<form-item data-path="RatingTask.SaveButton" data-ui="savebutton" data-label="Save Changes" data-config="SaveButton"></form-item>