@using Models.Schema;
@using Models.DTO;
@using Newtonsoft.Json;
@model RatingTask
@{
	var title = Model.Id > 0 ? "Editing Rating Task" : "New Rating Task";
	ViewBag.Title = title;
	//var currentTrainingTask = Factories.TrainingTaskManager.GetForRatingTask( Model.Id );
	//currentTrainingTask = currentTrainingTask.Id == 0 ? null : currentTrainingTask;
	var referenceResourceList = Factories.ReferenceResourceManager.GetAll(); //Don't use SimpleItem here so we can access the ReferenceType array
	var referenceResourceTypeList = Factories.ConceptSchemeManager.GetbyShortUri( Factories.ConceptSchemeManager.ConceptScheme_ReferenceResource ).Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList();
	var payGradeTypeList = Factories.ConceptSchemeManager.GetbyShortUri( Factories.ConceptSchemeManager.ConceptScheme_Pay_Grade ).Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList();
	var applicabilityTypeList = Factories.ConceptSchemeManager.GetbyShortUri( Factories.ConceptSchemeManager.ConceptScheme_TaskApplicability ).Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList();
	var trainingGapTypeList = Factories.ConceptSchemeManager.GetbyShortUri( Factories.ConceptSchemeManager.ConceptScheme_TrainingGap ).Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList();
}

@Html.Partial( "~/Views/Shared/_FormHelperV1.cshtml" )

<script type="text/javascript">
	var Data = {
		//The original resource
		Source: @Html.Raw( JsonConvert.SerializeObject( Model, Formatting.None ) ),
		ReferenceResourceList: @Html.Raw( JsonConvert.SerializeObject( referenceResourceList, Formatting.None ) ),
		ReferenceTypeList: @Html.Raw( JsonConvert.SerializeObject( referenceResourceTypeList, Formatting.None ) ),
		//Mapping used internally for the FormItem stuff
		Form: {},
		//Functions to configure FormItem stuff
		Config: {
			//Configure Save Button
			SaveButton: function (Field) {
				Field.SaveURL = "@Url.Content("~/ratingtask/save/")";
				Field.RedirectAfterSuccessURL = "@Url.Content("~/ratingtask/detail/")";
				Field.getDataToSave = function () {
					return {
						...Data.Source,
						...Data.Form.read()
					};
				}
			},
			HasReferenceResource: function (Field) {
				Field.Items = Data.ReferenceResourceList;
				Field.renderItems();
			},
			ReferenceType: function (Field) {
				Field.Items = Data.ReferenceTypeList;
				Field.renderItems();
			},
			PayGradeType: function (Field) {
				Field.Items = @Html.Raw( JsonConvert.SerializeObject( payGradeTypeList, Formatting.None ) );
				Field.renderItems();
			},
			ApplicabilityType: function (Field) {
				Field.Items = @Html.Raw( JsonConvert.SerializeObject( applicabilityTypeList, Formatting.None ) );
				Field.renderItems();
			},
			TrainingGapType: function (Field) {
				Field.Items = @Html.Raw( JsonConvert.SerializeObject( trainingGapTypeList, Formatting.None ) );
				Field.renderItems();
			},
			AddTrainingTask: function (Field) {
				Field.Search.SearchURL = "@Url.Content( "~/trainingtask/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//Where Training Tasks are NOT already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id], IsNegation: true });
				}
			},
			RemoveTrainingTask: function (Field) {
				Field.Search.SearchURL = "@Url.Content( "~/trainingtask/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//Where Training Tasks are already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id] });
				}
			},
			HasRating_Add: function (Field) {
				//Search to add new valid Ratings
				Field.Search.SearchURL = "@Url.Content( "~/rating/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//And where Ratings are NOT already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id], IsNegation: true });
				}
			},
			HasRating_Remove: function (Field) {
				//Search to remove already added Ratings
				Field.Search.SearchURL = "@Url.Content( "~/rating/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//Where Ratings are already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id] });
				}

				//Show existing items
				Field.Search.doSearch();
			},
			HasBilletTitle_Add: function (Field) {
				//Search to add new valid Billet Titles
				Field.Search.SearchURL = "@Url.Content( "~/billettitle/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//And where Billet Titles are NOT already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id], IsNegation: true });
				}
			},
			HasBilletTitle_Remove: function (Field) {
				//Search to remove already added Billet Titles
				Field.Search.SearchURL = "@Url.Content( "~/billettitle/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//Where Billet Titles are already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id] });
				}

				//Show existing items
				Field.Search.doSearch();
			},
			HasWorkRole_Add: function (Field) {
				//Search to add new valid Work Roles
				Field.Search.SearchURL = "@Url.Content( "~/workrole/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//And where Work Roles are NOT already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id], IsNegation: true });
				}
			},
			HasWorkRole_Remove: function (Field) {
				//Search to remove already added Work Roles
				Field.Search.SearchURL = "@Url.Content( "~/workrole/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//Where Work Roles are already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id] });
				}

				//Show existing items
				Field.Search.doSearch();
			},
			HasTrainingTaskList_Add: function (Field) {
				//Search to add new valid Training Tasks
				Field.Search.SearchURL = "@Url.Content( "~/trainingtask/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//Where Training Tasks are NOT already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id], IsNegation: true });
				}
			},
			HasTrainingTaskList_Remove: function (Field) {
				//Search to remove already added Training Tasks
				Field.Search.SearchURL = "@Url.Content( "~/trainingtask/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//Where Training Tasks are already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id] });
				}

				//Show existing items
				Field.Search.doSearch();
			}
			@*
			HasTrainingTask: function (Field) {
				Field.SelectedItems = [@Html.Raw( currentTrainingTask == null ? "" : JsonConvert.SerializeObject( currentTrainingTask, Formatting.None ) )];
				Field.Search.SearchURL = "@Url.Content( "~/trainingtask/dosearch" )";
				Field.Search.modifyQuery = function (query) {
					//Where Training Tasks are NOT already associated with this Rating Task...
					query.Filters.push({ Name: "navy:RatingTask", ItemIds: [Data.Source.Id], IsNegation: true });
				}
				//Force single selection
				Field.addItem = function (Item) {
					Field.SelectedItems = [Item];
					Field.refresh();
				}
				//Return the first item or null
				Field.read = function () {
					return Field.SelectedItems[0]?.RowId || null;
				}
				//Use "Remove" instead of "Cancel" for the button text
				Field.Selected.renderResultWrapper = function (container, Result) {
					var button = $("<button>Remove</button>");
					Field.renderWrappedResult(container, Result, Field.Selected.renderResult, button, Field.removeItem);
				};
				//Show the current item
				Field.Selected.doSearch();
			}*@

		}
	};

	$(document).ready(function () {
		FormItem.setupFormItems(Data.Form, "RatingTask", Data.Config);
		Data.Form.write(Data.Source);
		handleFormInteractions();
	});
	//

	function handleFormInteractions() {
		//Limit the Reference Type selections based on the selected source
		var ReferenceResourceSelector = Data.Form.PathMap.HasReferenceResource;
		var ReferenceResourceTypeSelector = Data.Form.PathMap.ReferenceType;
		ReferenceResourceSelector.UI.on("change", function () {
			var source = Data.ReferenceResourceList.filter(m => m.RowId == ReferenceResourceSelector.read())[0];
			ReferenceResourceTypeSelector.Items = Data.ReferenceTypeList.filter(m => source.ReferenceType.includes(m.RowId));
			ReferenceResourceTypeSelector.renderItems();
			ReferenceResourceTypeSelector.write(ReferenceResourceTypeSelector.Items.length == 1 ? ReferenceResourceTypeSelector.Items[0].RowId : null);
		});
	}
	//
</script>

<style type="text/css">
	[data-path='RatingTask.HasRating_Add'] .description { display: none; }
	[data-path='RatingTask.HasRating_Remove'] .description { display: none; }
</style>

<h2>@title</h2>
<form-item data-path="RatingTask.Id" data-ui="display" data-label="ID"></form-item>
<form-item data-path="RatingTask.RowId" data-ui="display" data-label="RowID"></form-item>

<h3>Basic Info</h3>
<form-item data-path="RatingTask.CodedNotation" data-ui="text" data-label="Code"></form-item>
<form-item data-path="RatingTask.Description" data-ui="textarea" data-label="Description"></form-item>
<form-item data-path="RatingTask.PayGradeType" data-ui="select" data-label="Rank (Pay Grade)" data-config="PayGradeType"></form-item>
<form-item data-path="RatingTask.ApplicabilityType" data-ui="select" data-label="Applicability Type" data-config="ApplicabilityType"></form-item>
<form-item data-path="RatingTask.TrainingGapType" data-ui="select" data-label="Training Gap Type" data-config="TrainingGapType"></form-item>
<form-item data-path="RatingTask.HasReferenceResource" data-ui="select" data-label="Task Source" data-config="HasReferenceResource"></form-item>
<form-item data-path="RatingTask.ReferenceType" data-ui="select" data-label="Task Source Type" data-config="ReferenceType"></form-item>

<h3>Add/Remove Rating Associations</h3>
<form-item data-path="RatingTask.HasRating_Add" data-ui="searchselectdeferred" data-label="Add Ratings" data-config="HasRating_Add"></form-item>
<form-item data-path="RatingTask.HasRating_Remove" data-ui="searchselectdeferred" data-label="Remove Ratings" data-config="HasRating_Remove"></form-item>

<h3>Add/Remove Billet Title Associations</h3>
<form-item data-path="RatingTask.HasBilletTitle_Add" data-ui="searchselectdeferred" data-label="Add Billet Titles" data-config="HasBilletTitle_Add"></form-item>
<form-item data-path="RatingTask.HasBilletTitle_Remove" data-ui="searchselectdeferred" data-label="Remove Billet Titles" data-config="HasBilletTitle_Remove"></form-item>

<h3>Add/Remove Functional Area Assocations</h3>
<form-item data-path="RatingTask.HasWorkRole_Add" data-ui="searchselectdeferred" data-label="Add Functional Areas" data-config="HasWorkRole_Add"></form-item>
<form-item data-path="RatingTask.HasWorkRole_Remove" data-ui="searchselectdeferred" data-label="Remove Functional Areas" data-config="HasWorkRole_Remove"></form-item>

<h3>Add/Remove Training Task Associations</h3>
@*<form-item data-path="RatingTask.HasTrainingTask" data-ui="searchselectdeferred" data-label="Associated Training Task (Limit 1)" data-config="HasTrainingTask"></form-item>*@
<form-item data-path="RatingTask.HasTrainingTaskList_Add" data-ui="searchselectdeferred" data-label="Add Associated Training Tasks" data-config="HasTrainingTaskList_Add"></form-item>
<form-item data-path="RatingTask.HasTrainingTaskList_Remove" data-ui="searchselectdeferred" data-label="Remove Associated Training Tasks" data-config="HasTrainingTaskList_Remove"></form-item>

<h3>Save Changes</h3>
<form-item data-path="RatingTask.SaveButton" data-ui="savebutton" data-label="Save Changes" data-config="SaveButton"></form-item>