@using Models.Schema;
@using Newtonsoft.Json;
@using Models.DTO;
@model TrainingTask
@{
	var title = Model.Id > 0 ? "Editing Training Task" : "New Training Task";
	ViewBag.Title = title;
	var assessmentMethodTypeList = Factories.ConceptSchemeManager.GetbyShortUri( Factories.ConceptSchemeManager.ConceptScheme_CurrentAssessmentApproach ).Concepts.Select( m => SimpleItemHelper.GetSimpleItem( m ) ).ToList();
}

@Html.Partial( "~/Views/Shared/_FormHelperV1.cshtml" )

<script type="text/javascript">
	var Data = {
		//The original resource
		Source: @Html.Raw( JsonConvert.SerializeObject( Model, Formatting.None ) ),
		//Mapping used internally for the FormItem stuff
		Form: {},
		//Functions to configure FormItem stuff
		Config: {
			//Configure Save Button
			SaveButton: function (Field) {
				Field.SaveURL = "@Url.Content("~/trainingtask/save/")";
				Field.RedirectAfterSuccessURL = "@Url.Content("~/trainingtask/detail/")";
				Field.getDataToSave = function () {
					return {
						...Data.Source,
						...Data.Form.read()
					};
				}
			},
			AssessmentMethodType: function (Field) {
				Field.Items = @Html.Raw( JsonConvert.SerializeObject( assessmentMethodTypeList, Formatting.None ) );
				Field.renderItems();
			},

		}
	};

	$(document).ready(function () {
		FormItem.setupFormItems(Data.Form, "TrainingTask", Data.Config);
		Data.Form.write(Data.Source);
	});
	//
</script>

<h2>@title</h2>
<form-item data-path="TrainingTask.CourseName" data-ui="display" data-label="Course Name"></form-item>
<form-item data-path="TrainingTask.CourseCodedNotation" data-ui="display" data-label="CIN"></form-item>
<form-item data-path="TrainingTask.Id" data-ui="display" data-label="ID"></form-item>
<form-item data-path="TrainingTask.RowId" data-ui="display" data-label="RowID"></form-item>
<form-item data-path="TrainingTask.Description" data-ui="textarea" data-label="Description"></form-item>
<form-item data-path="TrainingTask.AssessmentMethodType" data-ui="checkboxlist" data-label="Assessment Method Type" data-config="AssessmentMethodType"></form-item>
<form-item data-path="TrainingTask.SaveButton" data-ui="savebutton" data-label="Save Changes" data-config="SaveButton"></form-item>