@model NavyRRL.Models.ContactUsViewModel
@{
	ViewBag.Title = "Contact Us";
}

<h2>@ViewBag.Title.</h2>

@using ( Html.BeginForm( "ContactUs", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" } ) )
{
	@Html.AntiForgeryToken()
	<h4>Enter your contact information and reason for contacting us.</h4>
	<hr />
	@Html.ValidationSummary( "", new { @class = "text-danger" } )
	<div class="form-group">
		@Html.LabelFor( m => m.Email, new { @class = "col-md-2 control-label" } )
		<div class="col-md-9">
			@Html.TextBox( "Email", null, new { @class = "form-control" } )
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor( m => m.FirstName, new { @class = "col-md-2 control-label" } )
		<div class="col-md-9">
			@Html.TextBox( "FirstName", null, new { @class = "form-control" } )
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor( m => m.LastName, new { @class = "col-md-2 control-label" } )
		<div class="col-md-9">
			@Html.TextBox( "LastName", null, new { @class = "form-control" } )
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor( m => m.Reason, new { @class = "col-md-2 control-label" } )
		<div class="col-md-9">
			@Html.TextArea( "Reason", null, new { @class = "form-control" } )
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Email Request" />
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render( "~/bundles/jqueryval" )
}
